<div class="container flex flex-col px-8 pt-16 mx-auto lg:py-36 lg:flex-row">
    <div class="flex items-center lg:w-1/2">
        <div class="lg:mt-0"> 
             <img src="/img/about-img-1.svg" alt="About Img One">
            <img src="/img/about-img-2.svg" alt="About Img Two" class="mt-5">
        </div>
        <div class="ml-5 ">
            <img src="/img/about-img-3.svg" alt="About Img Three">
        </div>
    </div>
    <div class="flex items-center lg:w-1/2">
        <div>
            <p class="mt-8 text-lg font-semibold lg:mt-0 text-blue">Why Choose Us</p>
            <h2 class="mt-6 text-3xl font-bold lg:text-4xl">Make Your Customers Happy By Giving Services.</h2>
            <p class="mt-6 text-base text-gray-darkGray">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less.</p>
            <p class="mt-6 text-base text-gray-darkGray">A domain name is one of the first steps to establishing your brand. Secure a consistent brand image with a domain name that matches your business.</p>
        </div>
    </div>
</div>