<div class="py-8 bg-bgLight">
    <div class="container p-8 mx-auto">
        <div class="flex flex-col items-center text-center">
            <p class="text-lg font-semibold text-blue">Contact Us</p>
            <h3 class="mt-2 text-3xl font-bold text-textBlack ">How Can We Help You?</h3>
            <p class="mt-5 text-gray-darkGray">There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form.</p>
        </div>     
            <div class="mb-6">
                <label for="default-input" class="block mt-8 mb-2 text-sm font-medium">Your Name <span class="text-red-600">*</span></label>
                <input type="text" id="default-input" class=" border border-gray-300 text-gray-900 text-sm rounded-sm  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <div class="mb-6">
                <label for="default-input" class="block mt-8 mb-2 text-sm font-medium">Email <span class="text-red-600">*</span></label>
                <input type="text" id="default-input" class=" border border-gray-300 text-gray-900 text-sm rounded-sm  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>    
            <div>      
                <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Your message <span class="text-red-600">*</span></label>
                <textarea id="message" rows="4" class="border border-gray-300 text-gray-900 text-sm rounded-sm  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:border-gray-600  dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" ></textarea>
            </div>
            <div class="flex items-center mt-8">
                <input id="link-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="link-checkbox" class="ml-2 text-sm text-gray-darkGray">I agree that my submitted data is being collected and stored.</label>
            </div>
            <div class="flex justify-center mt-16">
                <button type="button" class="px-12 py-5 mb-2 mr-2 text-sm font-medium text-white bg-blue-700 rounded-lg lg:px-24 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Send Meesage</button>
            </div>   
        </div>      
    </div>
</div>