<div class="bg-bgDark">
    <div class="container px-8 pt-8 pb-0 mx-auto overflow-hidden lg:flex">
        <div class="pt-2 text-white lg:w-1/2 lg:pt-14">
            <p class="text-sm font-semibold">We are creative team.</p>
            <h1 class="mt-5 font-bold text-white lg:text-5xl text:4xl">The best way to <br> promote business</h1>
            <p class="w-8/12 pt-5 text-sm font-medium text-gray-mediumGray">There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
            <div class="justify-start mt-8 lg:justify-center lg:items-center lg:flex">
                <button class="px-5 py-3 text-sm rounded-full bg-blue">Discover More</button>
                <div class="flex items-center lg:justify-center">
                    <div class="flex items-center text-sm font-semibold mt-6 lg:mt-0 lg:justify-center xl:ml-3">                        
                        <a href="#">Explore Services</a>
                    <svg class="mt-1 ml-1 " width="20" height="20" viewBox="0 0 20 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.2188 2.90632L17.0625 0.343819C16.875 0.125069 16.5312 0.0938193 16.2812 0.281319C16.0625 0.468819 16.0312 0.812569 16.2188 1.06257L18.25 3.46882H0.9375C0.625 3.46882 0.375 3.71882 0.375 4.03132C0.375 4.34382 0.625 4.59382 0.9375 4.59382H18.25L16.2188 7.00007C16.0312 7.21882 16.0625 7.56257 16.2812 7.78132C16.375 7.87507 16.5 7.90632 16.625 7.90632C16.7812 7.90632 16.9375 7.84382 17.0312 7.71882L19.1875 5.15632C19.75 4.46882 19.75 3.53132 19.2188 2.90632Z" fill="white"/>
                        </svg>
                    </div>                   
                </div>               
            </div>
        </div>
        <div class="pt-10 lg:w-1/2">
                <img class="w-full -mb-16 lg:w-1/2" src="/img/hero.svg" alt="hero img">
        </div>
    </div>
</div>