<div class="container px-8 pb-0 mx-auto ">
    <div class="lg:flex lg:justify-evenly text-gray-darkGray py-36">
        <div class="flex flex-col items-center">
            <img src="/img/mail-icon.svg" alt="Mail Icon">
            <p class="mt-4 text-lg font-semibold text-black">Email Address</p>
            <p>info@example.com</p>
            <p>support@example.com</p>
        </div>
          <div class="flex flex-col items-center mt-3 lg:mt-0">
            <img src="/img/phone-icon.svg" alt="Phone Icon">
            <p class="mt-4 text-lg font-semibold text-black">Phone Number</p>
            <p>+88 (800) 123 4567</p>
            <p>+99 094 5445 433</p>
        </div>
          <div class="flex flex-col items-center mt-3 lg:mt-0">
            <img src="/img/location-icon.svg" alt="Location Icon">
            <p class="mt-4 text-lg font-semibold text-black">Our Adress</p>
            <p>82 12th Street, Office 14,</p> 
            <p>Edinburgh, UK</p>
        </div>
    </div>
</div>