<div class="container p-8 mx-auto lg:flex">
    <div class="lg:w-1/2">
     <p class="pt-10 text-lg font-semibold text-blue">About Our App</p>
    <h3 class="text-3xl font-bold">A new way to manage your online money.</h3>
        <div class="lg:flex lg:mt-16">
            <div>
                <img class="py-5" src="/img/locket-icon.svg" alt="Locket Icon">
                <h3 class="text-xl font-semibold">Security Maintenance</h3>
                <p class="text-gray-darkGray">The little rotter bevvy I gormless mush golly gosh cras.</p>
            </div>
            <div>
                <img class="py-5" src="/img/money-icon.svg" alt="Coins Icon">
                <h3 class="text-xl font-semibold">Backup Database</h3>
                <p class="text-gray-darkGray">The little rotter bevvy I gormless mush golly gosh cras.</p>
            </div>
        </div>
        <div class="lg:flex">
            <div>
                <img class="py-5" src="/img/server-icon.svg" alt="Server Icon">
                <h3 class="text-xl font-semibold">Server Maintenance</h3>
                <p class="text-gray-darkGray">The little rotter bevvy I gormless mush golly gosh cras.</p>
            </div>
            <div>
                <img class="py-5" src="/img/risk-icon.svg" alt="Risk Icon">
                <h3 class="text-xl font-semibold">No Risk Protectable</h3>
                <p class="text-gray-darkGray">The little rotter bevvy I gormless mush golly gosh cras.</p>
            </div>
        </div>
    </div>
    <div class="flex justify-end mt-16 lg:justify-start lg:w-1/2">
        <img src="/img/iphone.svg" alt="iPhone">
    </div>
</div>