<div class="container p-8 pt-16 mx-auto">
    <div class="text-center">
        <p class="text-lg text-blue font-semi-bold">Our Portfolio</p>
        <h3 class="text-2xl font-bold">Our Recent Projects</h3>
        <p class="mt-5 text-base font-normal text-gray-darkGray ">There are many variations of passages of Lorem Ipsum
            available but the majority have suffered alteration in some form.</p>
    </div>
    <div
        class="mt-4 text-base font-semibold cursor-pointer menu text-gray-darkGray lg:flex lg:justify-center lg:py-16 lg:mt-0 ">
        <div class="flex justify-evenly">
            <a id="showall" data-filter="world"
                class="rounded-lg get_all_news md:py-3 md:px-9 active:bg-blue sm:w-auto active:text-white hover:bg-blue hover:text-white">World
                Project</a>
            <a class="rounded-lg get_all_news md:py-3 showSingle md:px-9 active:bg-blue sm:w-auto active:text-white hover:bg-blue hover:text-white" data-filter="us"
                target="1">U.S.</a>
        </div>
        <div class="flex justify-evenly ">
            <a class="rounded-lg get_all_news md:py-3 showSingle active:bg-blue sm:w-auto active:text-white md:px-9 hover:bg-blue hover:text-white"
                target="2" data-filter="home">Home</a>
            <a class="rounded-lg get_all_news md:py-3 showSingle active:bg-blue sm:w-auto active:text-white md:px-9 hover:bg-blue hover:text-white"
                target="3" data-filter="science">Science</a>
        </div>
        <div class="flex justify-center ">
            <a class="rounded-lg get_all_news md:py-3 showSingle active:bg-blue sm:w-auto active:text-white md:px-9 hover:bg-blue hover:text-white"
                target="4" data-filter="arts">Arts</a>
        </div>

    </div>
    <div class="container p-8 mx-auto cnt lg:flex lg:flex-wrap lg:justify-around" id="news">
        {{!-- <div id="div1" class="pt-8 targetDiv lg:pt-0 ">
            <div class="flex flex-col items-center lg:p-5">
                <img src="/img/branding.svg" alt="Branding img">
                <div class="z-10 flex flex-col items-center py-4 -mt-8 bg-white rounded-lg w-60 drop-shadow-2xl ">
                    <p class="text-sm font-semibold text-blue ">Branding</p>
                    <h3 class="mt-2 text-lg font-bold ">Branding Desing</h3>
                    <button
                        class="px-8 py-2 mt-4 text-sm font-medium border rounded-lg text-gray-darkGray hover:bg-blue hover:text-white">View
                        Details</button>
                </div>
            </div>
        </div> --}}
    </d>
</div>