<div class="container p-8 pt-16 mx-auto">
    <div class="text-center">
        <p class="text-lg text-blue font-semi-bold">Our Portfolio</p>
        <h3 class="text-2xl font-bold">Our Recent Projects</h3>
        <p class="mt-5 text-base font-normal text-gray-darkGray ">There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form.</p>
    </div>
    <div class="mt-4 text-base font-semibold cursor-pointer menu text-gray-darkGray lg:flex lg:justify-center lg:py-16 lg:mt-0 ">
        <div class="flex justify-evenly">
            <a id="showall" class="rounded-lg md:py-3 md:px-9 active:bg-blue sm:w-auto active:text-white hover:bg-blue hover:text-white">All Project</a>
            <a class="rounded-lg md:py-3 showSingle md:px-9 active:bg-blue sm:w-auto active:text-white hover:bg-blue hover:text-white" target="1">Branding</a>
        </div>
        <div class="flex justify-evenly ">
             <a class="rounded-lg md:py-3 showSingle active:bg-blue sm:w-auto active:text-white md:px-9 hover:bg-blue hover:text-white" target="2">Marketing</a>
             <a class="rounded-lg md:py-3 showSingle active:bg-blue sm:w-auto active:text-white md:px-9 hover:bg-blue hover:text-white" target="3">Design</a>
        </div>
        <div class="flex justify-center ">
            <a class="rounded-lg md:py-3 showSingle active:bg-blue sm:w-auto active:text-white md:px-9 hover:bg-blue hover:text-white" target="4">Development</a>
        </div>
        
    </div>
    <section class="container p-8 mx-auto cnt lg:flex lg:flex-wrap lg:justify-around">      
            <div id="div1" class="pt-8 targetDiv lg:pt-0 ">
                <div class="flex flex-col items-center lg:p-5">
                    <img src="/img/branding.svg" alt="Branding img">   
                    <div class="z-10 flex flex-col items-center py-4 -mt-8 bg-white rounded-lg w-60 drop-shadow-2xl ">
                        <p class="text-sm font-semibold text-blue ">Branding</p>
                        <h3 class="mt-2 text-lg font-bold ">Branding Desing</h3>
                        <button class="px-8 py-2 mt-4 text-sm font-medium border rounded-lg text-gray-darkGray hover:bg-blue hover:text-white">View Details</button>
                    </div>
                </div>       
            </div>
            <div id="div2" class="mt-8 targetDiv lg:mt-0">
                <div class="flex flex-col items-center lg:p-5">
                    <img src="/img/marketing.svg" alt="Marketing img">   
                    <div class="z-10 flex flex-col items-center py-4 -mt-8 bg-white rounded-lg w-60 drop-shadow-2xl">
                        <p class="text-sm font-semibold text-blue ">Marketing</p>
                        <h3 class="mt-2 text-lg font-bold ">Best Marketing Tips</h3>
                        <button class="px-8 py-2 mt-4 text-sm font-medium border rounded-lg text-gray-darkGray hover:text-white hover:bg-blue">View Details</button>
                    </div>
                </div>     
            </div>
            <div id="div3" class="mt-8 targetDiv lg:mt-0">
                <div class="flex flex-col items-center lg:p-5">
                        <img src="/img/web-design.svg" alt="Design img" >   
                        <div class="z-10 flex flex-col items-center py-4 -mt-8 bg-white rounded-lg w-60 drop-shadow-2xl">
                            <p class="text-sm font-semibold text-blue ">Design</p>
                            <h3 class="mt-2 text-lg font-bold ">Business Card Desing</h3>
                            <button class="px-8 py-2 mt-4 text-sm font-medium border rounded-lg text-gray-darkGray hover:text-white hover:bg-blue">View Details</button>
                        </div>
                    </div>
            </div>
            <div id="div4" class="mt-8 targetDiv lg:mt-0">
                <div class="flex flex-col items-center lg:p-5">
                        <img src="/img/digital-marketing.svg" alt="Digital marketing img" >   
                        <div class="z-10 flex flex-col items-center py-4 -mt-8 bg-white rounded-lg w-60 drop-shadow-2xl">
                            <p class="text-sm font-semibold text-blue ">Development</p>
                            <h3 class="mt-2 text-lg font-bold ">Digital Marketing</h3>
                            <button class="px-8 py-2 mt-4 text-sm font-medium border rounded-lg text-gray-darkGray hover:text-white hover:bg-blue">View Details</button>
                        </div>
                    </div>
            </div>
    </section>
</div>