<div class="lg:pt-32">
    <div class="container p-8 mx-auto bg-bgDark xl:rounded lg:flex ">
        <div class="text-white lg:w-1/2 lg:p-16">
            <p class="text-base font-semibold">Find Your Next Dream App</p>
            <h3 class="mt-4 text-3xl font-bold lg:text-5xl ">Get started with our free trial</h3>
        </div>
        <div class="font-semibold text-white lg:w-1/2 lg:flex lg:justify-center lg:items-center">
        <div class="mt-7 lg:mt-0 lg:mr-4">
            <button class="py-4 rounded px-9 bg-linearGray hover:bg-blue" >Get Pro Version</button>
        </div>
        <div class="mt-5 lg:mt-0">
            <button class="py-4 rounded px-9 bg-blue hover:bg-linearGray">Start Free Trial</button>
        </div>
        </div>
    </div>
</div>