<footer>
    <div class="container relative p-8 mx-auto">
        <div class="absolute top-12 right-12">
            <img class="" src="/img/footer-eclipse.svg" alt="Footer Eclipse">
        </div>

      
        <div class="lg:flex">
            <div class="lg:w-4/12 mt-11">
                <img src="/img/logo-black.svg" alt="Dark Logo">           
                <p class="w-9/12 mt-5 text-sm text-gray-darkGray">Sed ut perspiciatis undmnis is iste natus error sit amet voluptatem totam rem aperiam.</p>
                    <div class="flex mt-6">
                        <img src="/img/footer-phone-icon.svg" alt="Footer Phone Icon"> 
                        <p>+012 (345) 678 99</p>
                    </div>        
            </div>
            <div class="lg:flex lg:justify-between">
                <div class="mt-11 lg:mr-16">
                    <h3 class="text-lg font-semibold">Resources</h3>
                    <div class="mt-10 text-sm text-gray-darkGray">
                        <p class="text-blue">Saas Development</p>
                        <p class="mt-2">Our Products</p>
                        <p class="mt-2">Our Products</p>
                        <p class="mt-2">User Strategy</p>
                    </div>
                </div>
                <div class="mt-11 lg:mr-16">
                    <h3 class="text-lg font-semibold">Company</h3>
                    <div class="mt-10 text-sm text-gray-darkGray">
                        <p>About Landio</p>
                        <p class="mt-2">Contact & Support</p>
                        <p class="mt-2">Sucess History</p>
                        <p class="mt-2">Settings & Privacy</p>
                    </div>
                </div>
                <div class="mt-11 lg:mr-16 ">
                    <h3 class="text-lg font-semibold">Quick Links</h3>
                    <div class="mt-10 text-sm text-gray-darkGray">
                        <p>Premium Support</p>
                        <p class="mt-2">Our Services</p>
                        <p class="mt-2">Know Our Team</p>
                        <p class="mt-2">Download App</p>
                    </div>
                </div>
                <div class="mt-11">
                    <h3 class="text-lg font-semibold">Social</h3>
                    <div class="flex justify-start mt-10 text-sm text-gray-darkGray">
                        <img src="/img/facebook.svg" alt="facebook">
                        <img src="/img/twitter.svg" alt="twitter">
                        <img src="/img/youtube.svg" alt="youtube">
                        <img src="/img/linkedIn.svg" alt="linkedin">
                    </div>
                    <p class="mt-6 text-sm text-gray-darkGray">© 2023 Nemanja Kondic</p>
                </div>
            </div>
            
        </div>
      

    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="js/scripts.js"></script>
<script src="https://unpkg.com/flowbite@1.5.2/dist/flowbite.js"></script>
</body>

</html>