<footer>
    <div class="container p-8 mx-auto">
        <div class="flex justify-between">
            <img src="/img/logo-black.svg" alt="Dark Logo">
            <div>
                <img class="" src="/img/footer-eclipse.svg" alt="Footer Eclipse">
            </div>            
        </div>
        <div>
           <p>Sed ut perspiciatis undmnis is iste natus error sit amet voluptatem totam rem aperiam.</p>
           <div class="flex">
                <img src="/img/footer-phone-icon.svg" alt="Footer Phone Icon"> 
                <p>+012 (345) 678 99</p>
           </div>
           
        </div>

    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="js/scripts.js"></script>
<script src="https://unpkg.com/flowbite@1.5.2/dist/flowbite.js"></script>
</body>

</html>